.text-sm {
    font-size: 15px;
  }
.text-mid {
    font-size: 10px;
  }
  
.text-mid-2 {
    font-size: 18px;
}
.text-mid-3 {
  font-size: 10px;
}

.circle-radio-button {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%;
    cursor: pointer;
  }
  
  .selected {
    background-color: rgba(149, 100, 125, 1);
  }
  .circle-radio-button:nth-child(3).selected,
.circle-radio-button:nth-child(4).selected {
  background-color: rgba(83, 175, 138, 1); /* Background color for selected first and fourth buttons */
}
  .circle-radio-button:nth-child(1), .circle-radio-button:nth-child(4) {
    /* Adjust width for the first button */
    width: 100px; /* Adjust as needed */
    height: 100px;  /* Adjust color as needed */
     }
  /* Additional styles for specific buttons */
  .circle-radio-button:nth-child(1), .circle-radio-button:nth-child(2) {
 /* Adjust width for the first button */
    border: 3px solid rgba(149, 100, 125, 1); /* Adjust color as needed */
  }
  
  .circle-radio-button:nth-child(3),.circle-radio-button:nth-child(4) {
    border: 3px solid rgba(83, 175, 138, 1); /* Adjust color as needed */
  }

  @media (max-width: 640px) {
    .small {
      flex-direction: column;
      align-items: center;
      flex-basis: auto; /* Resetting flex-basis */
      width: 100%; /* Set width to 100% for items */
    }
  }
  
  .progress-container {
    position: relative; /* Ensure the container stays in place */
    width: 200px; /* Set a fixed width for the container */
    height: 30px; /* Set a fixed height for the container */
    background-color: white; /* Set the container background to white */
    border-radius: 5px;

  }
  
  .progress-container:hover {
    z-index: 1; /* Ensure the container stays above other elements */
  }
  
  .custom-progress {
    width: 100%; /* Ensure the progress bar fills the container */
    height: 100%; /* Ensure the progress bar fills the container */
    transition: width 0.5s ease; /* Optional: add a transition effect */
  }
  
  progress.custom-progress::-webkit-progress-bar {
    background-color: rgb(221, 221, 221); /* Set the background color of the progress bar */
    border-radius: 5px;

  }
  
  progress.custom-progress::-webkit-progress-value {
    background-color: rgb(0, 157, 255); /* Set the filled part to blue */
    border-radius: 5px;

  }
  
  progress.custom-progress::-moz-progress-bar {
    background-color: rgb(0, 157, 255); /* Set the filled part to blue */
  }
  

  
   